In [1]:
import pandas as pd

In [7]:
q2_unclassified = pd.read_excel('q2_unclassified.xlsx')

In [8]:
q2_unclassified.head()

,Area Name,Year,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS,USPS
0,Anderson County,2017.0,Second Quarter,32.0,70.0,159.3,822.0,-5.5,Unclassified,48001.0,TX
1,Andrews County,2017.0,Second Quarter,2.0,1.0,-50.0,1059.0,610.7,Unclassified,48003.0,TX
2,Angelina County,2017.0,Second Quarter,3.0,5.0,NaN,529.0,NaN,Unclassified,48005.0,TX
3,Aransas County,2017.0,Second Quarter,8.0,16.0,700.0,501.0,54.6,Unclassified,48007.0,TX
4,Atascosa County,2017.0,Second Quarter,7.0,13.0,85.7,555.0,-11.1,Unclassified,48013.0,TX

In [9]:
q2_other = pd.read_excel('q2_other.xlsx')

In [12]:
q2_other.head()

,Area Name,Year,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS,USPS
0,Anderson County,2017.0,Second Quarter,96.0,561.0,4.5,719.0,-1.2,Other Services,48001.0,TX
1,Andrews County,2017.0,Second Quarter,34.0,198.0,0.0,892.0,9.4,Other Services,48003.0,TX
2,Angelina County,2017.0,Second Quarter,141.0,735.0,-0.3,562.0,12.0,Other Services,48005.0,TX
3,Aransas County,2017.0,Second Quarter,49.0,213.0,-10.1,639.0,-11.4,Other Services,48007.0,TX
4,Archer County,2017.0,Second Quarter,11.0,44.0,-17.0,661.0,-1.8,Other Services,48009.0,TX

In [14]:
q2_leisure_hospitality = pd.read_excel('q2_leisure_hospitality.xlsx')
q2_education_health = pd.read_excel('q2_education_health.xlsx')
q2_prof_business = pd.read_excel('q2_prof_business.xlsx')
q2_finance = pd.read_excel('q2_finance.xlsx')
q2_information = pd.read_excel('q2_information.xlsx')
q2_trade_trans_ut = pd.read_excel('q2_trade_trans_ut.xlsx')
q2_manufacturing = pd.read_excel('q2_manufacturing.xlsx')
q2_construction = pd.read_excel('q2_construction.xlsx')
q2_natural_res_mining = pd.read_excel('q2_natural_res_mining.xlsx')

In [ ]:
# q2_unclassified['Industry'] = 'Unclassified'
# q2_other['Industry'] = 'Other'
# q2_leisure_hospitality['Industry'] = 'Hospitality'
# q2_education_health['Industry'] = 'Education_Health'
# q2_prof_business['Industry'] = 'Prof_Business'
# q2_finance['Industry'] = 'Financial Activities'
# q2_information['Industry'] = 'Information'
# q2_trade_trans_ut['Industry'] = 'Trade, Transportation, and Utilities'
# q2_manufacturing['Industry'] = 'Manufacturing'
# q2_construction['Industry'] = 'Construction'
# q2_natural_res_mining['Industry'] = 'Natural Resources and Mining'

In [22]:
list_of_dfs = [q2_leisure_hospitality, q2_education_health, q2_prof_business, q2_finance, q2_information, q2_trade_trans_ut, q2_manufacturing, q2_construction, q2_natural_res_mining, q2_unclassified, q2_other    ]

In [23]:
q2_df = pd.concat(list_of_dfs)

In [24]:
q2_df['Area Name'].value_counts()

Eastland County        11
Gonzales County        11
Rusk County            11
Wichita County         11
Palo Pinto County      11
Tyler County           11
Polk County            11
Bell County            11
Llano County           11
Nolan County           11
Deaf Smith County      11
Andrews County         11
Cass County            11
Lamar County           11
Dallam County          11
Stephens County        11
San Jacinto County     11
Liberty County         11
Kleberg County         11
Shackelford County     11
Hemphill County        11
Hill County            11
Hardin County          11
Jefferson County       11
Gray County            11
                       11
Gaines County          11
Medina County          11
Austin County          11
Wood County            11
                       ..
Zapata County          10
Oldham County          10
Hamilton County        10
Baylor County          10
Sherman County         10
Brooks County          10
Edwards County         10
Hartley County         10
Roberts County          9
Irion County            9
Dickens County          9
La Salle County         9
Reagan County           9
Upton County            9
Cottle County           9
Kent County             9
McMullen County         9
Kinney County           9
Throckmorton County     9
Culberson County        9
Concho County           9
Armstrong County        9
Stonewall County        8
Terrell County          8
Glasscock County        8
Kenedy County           8
Sterling County         8
Borden County           7
Loving County           4
King County             4
Name: Area Name, Length: 255, dtype: int64

In [25]:
q2_df.to_csv('q2_df.csv')

In [27]:
q2_df.head()

,Area Name,Year,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS,USPS
0,Anderson County,2017.0,Second Quarter,109.0,1666.0,3.1,275.0,1.1,Leisure and Hospitality,48001.0,TX
1,Andrews County,2017.0,Second Quarter,37.0,531.0,17.5,439.0,-0.9,Leisure and Hospitality,48003.0,TX
2,Angelina County,2017.0,Second Quarter,157.0,3549.0,7.6,302.0,-0.3,Leisure and Hospitality,48005.0,TX
3,Aransas County,2017.0,Second Quarter,124.0,1660.0,6.8,335.0,-0.9,Leisure and Hospitality,48007.0,TX
4,Archer County,2017.0,Second Quarter,8.0,60.0,50.0,222.0,-21.3,Leisure and Hospitality,48009.0,TX

In [28]:
q2_df.tail()

,Area Name,Year,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS,USPS
249,Yoakum County,2017.0,Second Quarter,14.0,87.0,3.6,808.0,2.9,Other Services,48501.0,TX
250,Young County,2017.0,Second Quarter,43.0,122.0,-10.9,585.0,3.5,Other Services,48503.0,TX
251,Zapata County,2017.0,Second Quarter,9.0,31.0,NaN,275.0,NaN,Other Services,48505.0,TX
252,Zavala County,2017.0,Second Quarter,11.0,NaN,NaN,NaN,NaN,Other Services,48507.0,TX
253,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
q2_df.drop(index=253, inplace=True)

In [30]:
q2_df.tail()

,Area Name,Year,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS,USPS
248,Wood County,2017.0,Second Quarter,60.0,310.0,25.0,529.0,-2.2,Other Services,48499.0,TX
249,Yoakum County,2017.0,Second Quarter,14.0,87.0,3.6,808.0,2.9,Other Services,48501.0,TX
250,Young County,2017.0,Second Quarter,43.0,122.0,-10.9,585.0,3.5,Other Services,48503.0,TX
251,Zapata County,2017.0,Second Quarter,9.0,31.0,NaN,275.0,NaN,Other Services,48505.0,TX
252,Zavala County,2017.0,Second Quarter,11.0,NaN,NaN,NaN,NaN,Other Services,48507.0,TX

In [32]:
q2_df.drop(columns = ['USPS', 'Year'], inplace=True)

In [33]:
q2_df.to_csv('q2_df.csv')

In [34]:
q2_df.shape

(2705, 9)